body{
  background-image: url("../public/jisaku_illust.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
button{
  background-color: #61dafb;
  border: none;
  outline:none;
  box-shadow: 2px 2px 4px gray;
  margin: 5px;
}
h2{
  font-family: YuGothic,'Yu Gothic',sans-serif;
  font-size: 40px;
  text-shadow: 5px 5px 10px white;
  color: black;
}
div{
  padding: 10px;
  text-align: center;
}